*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --brand-primary: #046ea3;
  --brand-dark: #001d4a;
  --brand-accent: #00cccc;
  --brand-soft: #b9d6f2;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}
